[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
djangorestframework = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-cors-headers = "*"
pillow = "*"
requests = "*"
xgboost = "*"
openpyxl = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
